h1{
    color: gold;
    background-color:powderblue;
}

.g1{

    color:blue;
    background-color:yellowgreen;
}

.g2{
    color:white;
    background-color:black;
}

.g3{
    color:brown;
    background-color:ivory;

}

.g4{
    color:aqua;
    background-color:blanchedalmond;
    
}